

/* general nav-bar styling*/
nav#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: left;
}

/*logo in the nav bar */
nav img.logo {
  height: 80px;
  width: 80px;
 }

/* tweeter font in the nav-bar*/
span.header {
  font-size: xx-large;
 }

input.compose-btn {
    margin-left: 35rem;
    align-self: auto;
    width: 7rem;
    height: 3rem;
    border-radius: 8px;
    border-style: solid;
    border: solid 1.5px black;
    background-color: white;
    opacity: 0.6;
    color:#00a087;
    font-size: large;
}


input.compose-btn:hover {
  opacity:1;
}











